<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flatmatch">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2"
        android:usesCleartextTraffic="true">

        <activity android:name="com.example.flatmatch.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.flatmatch.Presenter.ForgotPassword" />
        <activity android:name="com.example.flatmatch.Presenter.CreateAccount" />
        <activity android:name="com.example.flatmatch.Presenter.MainPage" />
        <activity android:name="com.example.flatmatch.Presenter.MatchList" />
        <activity android:name="com.example.flatmatch.Presenter.MatchShow" />
        <activity android:name="com.example.flatmatch.Presenter.Profil" />
        <activity android:name="com.example.flatmatch.Presenter.Settings" />
        <activity android:name=".Presenter.Filter"></activity>
        <activity android:name=".Presenter.Chat"></activity>
    </application>

</manifest>